/* * {
  outline: 2px solid red !important;
} */

@import 'partials/variables';
@import 'partials/mixins';

body {
  color: $white;
  font-family: 'Bellefair', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include responsive-property(text-align, center, $lg: left);
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

#root {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:has(.home) {
    background-image: url(/src/assets/background-images/background-home-mobile.jpg);
  }
  &:has(.destination) {
    background-image: url(/src/assets/background-images/background-destination-mobile.jpg);
  }
  &:has(.crew) {
    background-image: url(/src/assets/background-images/background-crew-mobile.jpg);
  }
  &:has(.technology) {
    background-image: url(/src/assets/background-images/background-technology-mobile.jpg);
  }
}

.h1 {
  @include responsive-property(font-size, 5rem, 9.375rem);
  @include responsive-property(line-height, 125%, 100%); // line-height: 125%;
}

.h2 {
  @include responsive-property(font-size, 3.5rem, 5rem, 6.25rem);
}

.h3 {
  @include responsive-property(font-size, 1.5rem, 2.5rem, 3.5rem);
  text-transform: uppercase;
}

.h4,
h4 {
  @include responsive-property(font-size, 1.25rem, 2rem);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.h5 {
  font-family: 'Barlow Condensed';
  @include responsive-property(font-size, 1rem, 1.25rem, 2rem);
  @include responsive-property(letter-spacing, 0.16875rem, $lg: 0.29531rem);
  text-transform: uppercase;
}

.sub-heading-1 {
  font-size: 1.75rem;
}

.sub-heading-2 {
  font-family: 'Barlow Condensed';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14763rem;
  text-transform: uppercase;
  color: $secondary;
}

.nav {
  color: #fff;
  font-family: 'Barlow Condensed';
  @include responsive-property(font-size, 1rem, 0.875rem, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  & * {
    letter-spacing: 0.16875rem;
  }
}

p {
  color: $secondary;
  font-family: Barlow, sans-serif;
  @include responsive-property(font-size, 0.9375rem, 1rem, 1.125rem);
  @include responsive-property(line-height, 166.667%, 175%, 2rem);
  max-width: 50ch;
}

.container {
  width: 85%;
  margin-inline: auto;
  flex: 1;

  & > div {
    height: 100%;
  }
}

@media screen and (min-width: 30rem) {
  #root {
    &:has(.home) {
      background-image: url(/src/assets/background-images/background-home-tablet.jpg);
    }
    &:has(.destination) {
      background-image: url(/src/assets/background-images/background-destination-tablet.jpg);
    }
    &:has(.crew) {
      background-image: url(/src/assets/background-images/background-crew-tablet.jpg);
    }
    &:has(.technology) {
      background-image: url(/src/assets/background-images/background-technology-tablet.jpg);
    }
  }
}

@media screen and (min-width: 48rem) {
  #root {
    &:has(.home) {
      background-image: url(/src/assets/background-images/background-home-desktop.jpg);
    }
    &:has(.destination) {
      background-image: url(/src/assets/background-images/background-destination-desktop.jpg);
    }
    &:has(.crew) {
      background-image: url(/src/assets/background-images/background-crew-desktop.jpg);
    }
    &:has(.technology) {
      background-image: url(/src/assets/background-images/background-technology-desktop.jpg);
    }
  }
  body {
    text-align: left;
  }
}
